img {
    width: 440px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
}

.content {
    margin-left: 500px;
    padding-right: 600px;
}

.name {
    font-weight: bold;
    font-size: xx-large;
    color: blue;
}

body {
    background-color: #bed0f8;
    height: 125vh;
    margin-top: 20px;
    padding: 40px;
    background-size: cover;
    font-family: sans-serif;
}

.about {
    color: gray;
    font-size: large;
}

.interests {
    color: rgb(26, 44, 211);
    font-size: large;
}

header {
    background-color: rgb(2, 3, 100);
    position: fixed;
    left: 0;
    right: 0;
    top: 5px;
    height: 45px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}


header li {
    margin: 180px;
}

header li a {
    color: rgb(218, 241, 85);
    text-decoration: none;
}

.information {
    text-align: left;
    line-height: 30px;
    color: rgb(106, 17, 165);
}

.welcome {
    color: rgb(0, 38, 255);
}

input,
textarea {
    background-color: #78abee;
}

label {
    color: #230379;
    font-weight: bold;
}